{{!--  hbs file for rendering data --}}
<table border="1">
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Status</th>
        <th>Authors</th>
        <th>Short Description</th>
        <th>Page Count</th>
    </tr>
    <tr>
        <td>{{data._id}}</td>
        <td>{{data.title}}</td>
        <td>{{data.status}}</td>
        <td>{{data.authors}}</td>
        <td>{{data.shortDescription}}</td>
        <td>{{data.pageCount}}</td>
    </tr>
</table>
